body{
	background-color: white;
}
#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: white;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(80, 68, 68, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
	border-top: 2px solid gray;
	background-color: #B2FFBB;
}
.operator, .number{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 10%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
	background-color: #FAFFB1;
	
}

.equal{
	width: 130px;
	border-radius: 5%;
}
#clear, #backspace{
	width: 90px;
	border-radius: 5%;
}

.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

button:nth-child(3),button:nth-child(7),button:nth-child(11),button:nth-child(15),button:nth-child(18){
	font-size: 20px;
	background-color:#FFDBAF;
	color: white;
}
button:nth-child(1){
	font-size: 20px;
	background-color:#FFB49A;
	color: white;
}
